<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.yourname.cubic">
    <application android:label="Cubic Battle" android:hasCode="false">
        <activity android:name="android.app.NativeActivity">
            <meta-data android:name="android.app.lib_name" android:value="CubicBattle" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
